/* Show it is fixed to the top */

body {
  padding-top: 6rem;
}

.content {
  display: grid;
  grid-template: "a a a"
    "b b b";
}

div#player-form,
div#fixture-form,
div#team-form,
div#stat-form {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
  width: 4rem;
}

select#selectFixture {
  width: 200px;
}

div#result-form {
  justify-self: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}