/* Show it is fixed to the top */

body {
  margin-top: 6rem;
}

.content {
  display: grid;
  grid-template: "a a a"
    "b b b";
  gap: 2vw;
}

div#player-form,
div#fixture-form,
div#team-form,
div#stat-form {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
  width: 4rem;
}

select#selectFixture {
  width: 200px;
}

div#result-form {
  justify-self: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


div#login {
  border: solid 2px #777;
  width: 100%;
  background-color: aliceblue;
  padding: 5rem;
}


div#login input {
  margin: 10px 0px;
  background-color: #eee;
  border: green solid 2px;
  padding: 10px;
  width: 30%;
  margin-right: .5%;
}

div#login label {
  margin-right: 10px;
}

form {
  margin: 5px;
}


/* div#login submit {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
} */

.toggle-switch {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 50px;
  height: 25px;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: #e9e9ea;
  cursor: pointer;
}

.switch-btn::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  border-radius: inherit;
  background-color: #fff;
}

.checkbox:checked+.switch-btn {
  background-color: #4c51bf;
}

.checkbox:checked+.switch-btn::before {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}