extends ../layouts/default.pug

block page-header

block content
  body
  div#fixture-form
    h2 FIXTURES
    form(action='/api/fixtures' method='POST')
      option Choose Team1 
      select#selectTeam1(name='team1')
      option Choose Team2  
      select#selectTeam2(name='team2')      
      br
      option stadium
      select(name='stadium')
        option(value='ANFA Stadium') ANFA Stadium
        option(value='Dasthrath Stadium') Dashrath Stadium
        option(value='Chyasal Stadium') Chyasal Stadium
        option(value='Halchowk Stadium') Halchowk Stadium
      br
      | Date : 
      input(type='date' name='date' )
      br
      | Time:
      input(type='time' name='time' )
      br
      input(type='submit' value='Submit')
      br
    //form with player
  div#player-form
    h2 Player Detail
    form(action='/api/players' method='POST')
      option Choose a Team
      select#selectTeam(name='team_name')
      //- | Team:
      //- input(type="text" name="team_name" )
      br
      | First Name:
      input(type='text' name='fname' )
      br
      | Last Name:
      input(type='text' name='lname' )
      br
      | Date of Birth:
      input(type='date' name='dob' )
      br
      option Position
      select(name='position')
        option(value='GK') GoalKeeper 
        option(value='DF') Defender
        option(value='MD') Midfielder
        option(value='FW') Forward
      br
      | Jersey Number:
      input(type="number" name='jersey_no' )
      br
      input(type='submit' value='Submit')
  //form with team detail
  div#team-form
    h2 Team Detail
    form(action='/api/teams' method='POST')
      | Team Name:
      input(type='text' name='name' )
      br
      | Location:
      input(type='text' name='location' )
      br
      | Logo 
      input(type='text' name='logo' )
      br
      | Manager:
      input(type='text' name='manager' )
      br
      input(type='submit' value='Submit')
  div#result-form 
    h2 Result
    form(action='/api/results' method='POST')
      option Choose Fixture
      select#selectFixture(name='fixtureResult')
      br
      | Score:
      input(type='number' name='score' )
      input(type='number' name='score' )
      br
      | Offside:
      input(type='number' name='offsides' )
      input(type='number' name='offsides' )
      br
      | Fouls:
      input(type='number' name='fouls' )
      input(type='number' name='fouls' )
      br
      | Corners:
      input(type='number' name='corners' )
      input(type='number' name='corners' )
      br
      | Shots:
      input(type='number' name='shots' )
      input(type='number' name='shots' )
      br
      input(type='submit' value='Submit')
