extends ../layouts/default.pug

block page-header
  h2 TEAM

block content
  body
  form(action='/api/test', method='POST')
    br
    | Team: 
    input(type='text', name='team_name' style='width: 200px; margin-bottom: 3px;')
    br
    | Position: 
    input(type='number', name='team_position' style='width: 50px; margin-bottom: 3px; ')
    br
    | Win: 
    input(type='number', name='win' style='width: 50px; margin-bottom: 3px;')
    br
    | Lost:
    input(type='number', name='lost' style='width: 50px; margin-bottom: 3px;')
    br
    | Draw: 
    input(type='number', name='draw' style='width: 50px; margin-bottom: 3px;')
    br
    input(type='submit', value='Submit')
    br
    br
  h2 FIXTURE DETAIL
  form(action='/api/fixtures', method='POST')
    br
    | Team 1: 
    input(type='text', name='team1' style='width: 200px; margin-bottom: 3px;')
    | Team 2: 
    input(type='text', name='team2' style='width: 200px; margin-bottom: 3px;')
    br
    | Stadium: 
    input(type='text', name='stadium' style='width: 200px; margin-bottom: 3px; ')
    br
    | Date : 
    input(type='date', name='date' style='width: 200px; margin-bottom: 3px;')
    br
    | Time:
    input(type='time', name='time' style='width: 200px; margin-bottom: 3px;')
    br
    input(type='submit', value='Submit')
  