extends ../layouts/default.pug

block content
    div
        h1 Player Information(Select Tournament First)
        select#playerSelect
        input(type='text' id='fname' placeholder='First Name')
        input(type='text' id='lname' placeholder='Last Name')
        input(type='text' id='position' placeholder='Position')
        input(type='number' id='jersey_no' placeholder='Jersey Number')
        button#updateButton Update Player
        button#deleteButton Delete Player
    script(src='/js/settings.js')